<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller de Musica Elguera</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <nav class="nav-menu">
        <div class="logo-img">
            <a href="{{url_for('index')}}">
                <img src="/static/imagenes/hero-img/logotaller (1).png" alt="logo">
                
            </a>
            <h2>Taller de Música Elguera</h2>
        </div>

        <ul>
            <li><a href="{{url_for('index')}}">Inicio</a></li>
            <li><a href="{{url_for('index')}}#nosotros">Nosotros</a></li>
            <li><a href="{{url_for('index')}}#instrumentos">Instrumentos</a></li>
            <li><a href="{{url_for('index')}}#talleres">Talleres</a></li>
            <li><a href="{{url_for('index')}}#ubicacion">Ubicación</a></li>
            <li><a href="{{url_for('reserva')}}">Reserva</a></li>
        </ul>
    </nav>

    <section class="hero-section">
            <div class="hero-content">
                <h2>Aprende a tocar un instrumento con nosotros</h2>
                
            </div>

            <div class="hero-img">
                <img src="/static/imagenes/hero-img/heroimg.png" alt="imagen">
            </div>
    </section>

    <main>

        <section class="nosotros" id="nosotros">
            <div class="acerca-de">
                <h2>Acerca de Nosotros</h2>
                <p>Aprende a tocar un instrumento con nosotros, este año 2026 se viene con muchas novedades</p>
            </div>
            
            
            <div class="infinite-scroll-container">

                <div class="infinite-scroll-track">
                    <div class="infinite-scroll-card">
                        <div class="card-content">
                            
                            <img src="/static/imagenes/slide/slide1.jpg" >
                        </div>
                    </div>
                    <div class="infinite-scroll-card">
                        <div class="card-content">
                            
                            <img src="/static/imagenes/slide/slide2.jpg" >
                        </div>
                    </div>
                    <div class="infinite-scroll-card">
                        <div class="card-content">
                            
                            <img src="/static/imagenes/slide/slide4.jpg" >
                        </div>
                    </div>
                    <div class="infinite-scroll-card">
                        <div class="card-content">
                            
                            <img src="/static/imagenes/slide/slide3.jpg" >
                        </div>
                    </div>
                    <div class="infinite-scroll-card">
                        <div class="card-content">
                            
                            <img src="/static/imagenes/slide/slide1.jpg" >
                        </div>
                    </div>
                    <div class="infinite-scroll-card">
                        <div class="card-content">
                            
                            <img src="/static/imagenes/slide/slide2.jpg" >
                        </div>
                    </div>
                    <div class="infinite-scroll-card">
                        <div class="card-content">
                            
                            <img src="/static/imagenes/slide/slide4.jpg" >
                        </div>
                    </div>
                    <div class="infinite-scroll-card">
                        <div class="card-content">
                            
                            <img src="/static/imagenes/slide/slide3.jpg" >
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="talleres">
            <div class="titulo-servicios" id="instrumentos"> 
                <h2>INSTRUMENTOS</h2> 
            </div>
            
            <article class="servicios">
                
                <div class="card-servicios guitarraElectrica">
                    <a href="{{url_for('guitarra_electrica')}}">
                        <h4>Guitarra Electrica</h4>
                    </a>
                </div>
                
                <div class="card-servicios guitarraAcustica">
                    <a href="{{url_for('guitarra_acustica')}}">
                        <h4>Guitarra Acustica</h4>
                    </a>
                </div>
                
                <div class="card-servicios organo">
                    <a href="{{url_for('organo')}}">
                        <h4>Organo</h4>
                    </a>
                </div>

                <div class="card-servicios violin">
                    <a href="{{url_for('violin')}}">
                        <h4>Violin</h4>
                    </a>
                </div>

                <div class="card-servicios bateria">
                    <a href="{{url_for('bateria')}}">
                        <h4>Bateria</h4>
                    </a>
                </div>
                
            </article>

            <div class="titulo-servicios" id="talleres">
                <h2>TALLERES</h2>
            </div>

            <article class="servicios">
                
                <div class="card-servicios aprestamiento">                   
                    <a href="{{url_for('aprestamiento')}}">
                        <h4>Aprestamiento Musical</h4>
                    </a>
                </div>
                
                <div class="card-servicios canto">
                    <a href="{{url_for('canto')}}">
                        <h4>Canto</h4>
                    </a>
                </div>

            </article>

        </section>
        
        <div class="titulo-servicios">
            <h2>UBICACION</h2>
        </div>

        <section class="ubicacion" id="ubicacion">

            <div class="maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d580.0983081024583!2d-71.56249540613773!3d-16.373904598777678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91424a0f966b97c5%3A0xd6a0ce2cff996703!2sSosa%20Ruiz%20706%2C%20Arequipa%2004014!5e0!3m2!1ses-419!2spe!4v1759211633547!5m2!1ses-419!2spe" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>

        <div class="titulo-servicios">
            <h2>GALERIA DE IMAGENES</h2>
        </div>

        <section class="galery">
            <div class="galery-container">

                <a href="/static/imagenes/galeria/img1.jpg">
                    <img src="/static/imagenes/galeria/img1.jpg" alt="">
                </a>
                <a href="/static/imagenes/galeria/img2.jpg">
                    <img src="/static/imagenes/galeria/img2.jpg" alt="">
                </a>
                <a href="/static/imagenes/galeria/img3.jpg">
                    <img src="/static/imagenes/galeria/img3.jpg" alt="">
                </a>
                <a href="/static/imagenes/galeria/img4.jpg">
                    <img src="/static/imagenes/galeria/img4.jpg" alt="">
                </a>
                <a href="/static/imagenes/galeria/img5.jpg">
                    <img src="/static/imagenes/galeria/img5.jpg" alt="">
                </a>
                <a href="/static/imagenes/galeria/img6.jpg">
                    <img src="/static/imagenes/galeria/img6.jpg" alt="">
                </a>
                <a href="/static/imagenes/galeria/img7.jpg">
                    <img src="/static/imagenes/galeria/img7.jpg" alt="">
                </a>
                <a href="/static/imagenes/galeria/img8.jpg">
                    <img src="/static/imagenes/galeria/img8.jpg" alt="">
                </a>
                <a href="/static/imagenes/galeria/img9.jpg">
                    <img src="/static/imagenes/galeria/img9.jpg" alt="">
                </a>
                <a href="/static/imagenes/galeria/img10.jpg">
                    <img src="/static/imagenes/galeria/img10.jpg" alt="">
                </a>
                <a href="/static/imagenes/galeria/img11.jpg">
                    <img src="/static/imagenes/galeria/img11.jpg" alt="">
                </a>
                <a href="/static/imagenes/galeria/img12.jpg">
                    <img src="/static/imagenes/galeria/img12.jpg" alt="">
                </a>
            </div>
        </section>

        <div id="modal-visor" class="modal">
            <span class="close-btn">&times;</span>
            <img class="modal-content" id="img-expandida">
            <div id="caption"></div>
        </div>

    </main>

    <footer class="footer">
        <nav class="foot apartados">
            <ul>
                <li><a href="{{url_for('index')}}">Inicio</a></li>
                <li><a href="{{url_for('index')}}#nosotros">Nosotros</a></li>
                <li><a href="{{url_for('index')}}#instrumentos">Instrumentos</a></li>
                <li><a href="{{url_for('index')}}#talleres">Talleres</a></li>
                <li><a href="{{url_for('index')}}#ubicacion">Ubicación</a></li>
                <li><a href="{{url_for('reserva')}}">Reserva</a></li>
            </ul>
        </nav>

        <div class="foot social-media">
            <ul>
                <li>
                    <a href="https://www.facebook.com/TallerDeMusicaElguera?locale=es_LA"><img src="/static/imagenes/logo-redes/logo_face.jfif" alt="Facebook"></a>
                </li>
                <li>
                    <a href=""><img src="/static/imagenes/logo-redes/logo_wp.jfif" alt="Whatsapp"></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@marcbandrock9383/videos"><img src="/static/imagenes/logo-redes/logo_yt.jfif" alt="Youtube"></a>
                </li>
                <li>
                    <a href="https://www.tiktok.com/@taller.elguera"><img src="/static/imagenes/logo-redes/logo_tiktok.jfif" alt="TikTok"></a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="/static/script/script.js"></script>
</body>
</html>